{{content}}
<br>
<a href="/crawler/news">Recent News</a><br>
<form action = '/submit' method = 'post'>
    <p><input type = 'text' name="word" placeholder="type word for crawling">
        <button type="submit">start</button></p></form>
<form action = '/submitauthor' method = 'post'>
    <p><input type = 'text' name="word" placeholder="includes authors email, type word for crawling">
        <button type="submit">start</button></p></form>
<a href="/crawler/news_author">Include Reporters Email Address</a><br>
<a href="/logout">Logout</a>